body{
  /* background-color: #bc98f3;*/
    background-color: #FECAFE ;
    margin: 0;
    font-family: "Open Sans" , sans-serif;
}

.topheader{
    position: fixed;
    box-shadow: 0 3px 5px cornflowerblue;
    background-color: #FECAFE;
    left: 0;
    top: 0;
    width: 100%;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.logo{
   display: flex;
   align-items: center;
   font-size: 50px;
   font-weight: 500;
   color: #FE4659/*texto*/; 
   font-family: 'Festive', cursive;
}

.logo img{
    border-radius: 50%;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    color: #FE4659/*texto*/;
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: black;
}

.open-menu,
.close-menu{
    display: none;
}

@media(max-width:950px){
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: transparent;
        height: 100%;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;

     }

    .menu li{
        padding: 0;
    }
    
    .menu a{
        color: #FE4659/*texto*/;
        line-height: 60px;
    }

    .open-menu,
    .close-menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu{
        align-self: flex-end;
        padding: 5px 5px;
    }

    .menu-opened{
        opacity: 1;
        pointer-events: all;
    }
}







