body{
    background-color: #FECAFE ;
    margin: 0;
    font-family: "Open Sans" , sans-serif;
}

.topheader{
    position: fixed;
    box-shadow: 0 3px 5px cornflowerblue;
    background-color: #FECAFE;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.logo{
   display: flex;
   align-items: center;
   font-size: 50px;
   font-weight: 500;
   color: #FE4659; /*texto*/
   font-family: 'Festive', cursive;
}

.logo img{
    border-radius: 50%;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}
.menu a{
    color: #FE4659;/*texto*/
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: "";
    background-color: #F6F4BD;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: 0.3s;
}

.menu a:hover:after{
    opacity: 0.8;

}
.menu a:hover{
    color:#FDB037;
}

a{
    text-decoration: none;
}

.open-menu,
.close-menu{
    display: none;
}

.perfil{
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    background-image: url(./images/pricipal-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.perfil .text_principal{
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 238, 238, 0.5);
    height: auto; ;
    width: 100%;
    padding: 0px;
}

.perfil .text_principal h1{
    
    width: 100%;
    align-items: center;
    font-family: 'Slabo 27px', serif;
    font-size: 80px;
    font-weight: 900;
    color: #FECAFE;
    text-shadow: -20px -2px 20px rgb(204, 13, 6);
}

.perfil .text_principal span{
    font-family: 'Festive', cursive;
}

.carousel {
    background-color: #FECAFE;
    padding: 10% 0;
  }
  
.selectores {
    /* Usualmente una mala práctica, pero aquí está justificado */
    bottom: 10px !important;
}
.carousel-item{
    padding: 50px;
    height: 32rem;
    max-width: 100%; 
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .container{  
    position: absolute; 
    bottom: 0;
    left: 210px;
    right: 0;
    padding-bottom: 50px;
    color: black;
  }

.overlay-image{
  position: absolute;
  bottom: 0;
  left: 200px;
  right: 200px;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
  
.controls{
  padding: 0;
}

.sect2{
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    background-image: url(./images/sect2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sect2 h3{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: ivory;
    font-weight: 900;
}

.sect3{
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    background-image: url(./images/sect3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.parrafo{
    padding: 10px;
}

.info h1{
    font-family: "Source Sans Pro";
        font-size: 40px;
        line-height: 48px;
        color: white;
        margin-top: 84px;
        margin-bottom: 42px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
}

.separator--flower{
    display: block;
    height: auto;
    border: 0;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1;
    text-align: center;
    margin: 24px 0;
    font-size: 17px;
    font-family: Serif;
    opacity: 0.8;
}



.info .info-text .btn.btn--text{
    padding: 3px 0;
    background: transparent !important;
    border: 0;
    border-bottom: 2px solid #c59d5f;
    border-radius: 0;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-color: #C59D5F;
}

.info .info-text a{
    color: #C59D5F;
}

.cf:after{
    content: "";
    display: table;
    clear: both;
}

.pixcode--grid {
    margin-left: -48px;
}

.grid{
    margin-left: -24px;
    margin-left: -1.5rem;
    list-style: none;
    margin-bottom: 0;
}

.article__content {
    overflow: hidden;
}

 .article__content {
    position: relative;
    width: 100%;
    padding: 35px0;
    background-color: white;
}

.container {
    margin: 0 22px;
    padding: 0;
}

@media(max-width:950px){
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: white;
        height: 100%;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
     }

    .menu li{
        padding: 0;
    }
    
    .menu a{
        color: #FE4659;/*texto*/
        line-height: 70px;
        font-size: 25px;
    }

    .open-menu,
    .close-menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu{
        align-self: flex-end;
        padding: 5px 5px;
    }

    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }

    .menu a::after{
        content: none;  
    }
    
    .menu a:hover,
    .menu a.selected{
        color:#FDB037;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible){
        outline: none;
    }

    .info{
        flex-direction: column;
        max-width: 90%;
        width: unset;
    }
    
    .promo-video iframe{
        width: 100%;
    }

    .info-text{
        margin-top: 10px;
    }

    .info-text h1{
        font-size: 25px;
        line-height: 1.5;
    }
}


